<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYMENT RECEIPT</title>
</head>
<body style="position: relative;">
    <div style="margin-left: 10px;">
        <img src="logo.png" alt="rgukt logo" height="500" width="350">
        <h3>THE DIRECTOR IIIT RGUKT ONGOLE</h3>
        <h5>R K VALLEY AP IIIT ONGOLE CAMPUS IDUPULAPAYA VEMPALLI KADAPA DIST 516330 , , IDUPULAPAYA-516330</h4>
        <h4>Date:<%=data.date%></h4>
    </div>
    <h4>e-Receipt for RGUKT payment</h4><hr style="margin:0 10px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">Transaction ID</span>  <span><%=data.trans_id%></span></p><hr style="margin:0 15px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">Category</span> <span>Tuition Fee / Hostel Fee / Condonation Fee</span></p><hr style="margin:0 15px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">Date</span> <span><%=data.date%></span></p><hr style="margin:0 15px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">Name of the student</span> <span><%=data.name%></span></p><hr style="margin:0 15px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">Class and year</span> <span><%=data.class%></span></p><hr style="margin:0 15px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">Id number</span> <span><%=data.id%></span></p><hr style="margin:0 15px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">On account of</span> <span><%=data.type%></span></p><hr style="margin:0 15px;">
    <p style="margin-left: 25px;"><span style="display: inline-block;width:400px;">Amount paid Rs.</span> <span><%=data.amount%>.00</span></p><hr style="margin:0 15px;">
    <br><br>
   
    <input type="button" value="Print" id="print" style="font-size: 20px;padding: 4px 10px;background: yellow;border-radius: 5px;margin-left: 20%;">

    <script>
        document.querySelector("#print").addEventListener('click',()=>{
            document.querySelector("#print").style.display='none';
            window.print();
            document.querySelector("#print").style.display='block';
        })
    </script>
</body>
</html>
